extends layout

block content

    h1=title
    h2 categories
    ul
        each cat in categories
            a(href=cat.url) #{cat.name}
            br
    hr

    h2 Items
    ul
        each item in items
            li
                a(href=item.url) #{item.name}